@page "/approvals/onApproval"
@using ApplicationOffice.Web.UI.Approvals.Models
@inject HttpClient _httpClient
@attribute [Authorize]

<h1>Заявки на согласовании</h1>

@if (_applications == null)
{
    <p><em>Загрузка заявок...</em></p>
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else if (!_applications.Any())
{
    <p>
        <em>Здесь будут появляться заявки которые вам необходимо согласовать.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Согласовать до</th>
            <th>Статус</th>
            <th>Тип</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var application in _applications)
        {
            <tr>
                <td>@application.Title</td>
                <td>@application.DueDate.ToShortDateString()</td>
                <td>@application.Status</td>
                <td>@application.Type</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ApplicationViewResponse[]? _applications;

    protected override async Task OnInitializedAsync()
    {
        _applications = await _httpClient.GetFromJsonAsync<ApplicationViewResponse[]>(
            "https://localhost:5003/api/v1/application/onapproval");
    }

}
